{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <title>Add Post</title>
</head>
<body>
    <div class="container my-4">
        <h3>Edit Data</h3>
        <p><a class="btn btn-success" href="/">Find Assets</a></p>
        <div class="card my-3">
            <h5 class="card-header">Edit Data</h5>
            <div class="card-body">
                {% if messages %}
                    {% for msg in messages %}
                        <p class="text-success">{{msg}}</p>
                    {% endfor %}
                {% endif %}
                <form method="post" action="/update/{{post.id}}">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <tr>
                            <th>Reference No</th>
                            <td>
                                <input value="{{post.Reference_No}}" type="text" name="Reference_No"class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th>Serial No</th>
                            <td>
                                <textarea name="Serial_No"  class="form-control">{{post.Serial_No}}</textarea>
                            </td>
                        </tr>
						<tr>
                            <th>CMDB item type</th>
                            <td>
                                <textarea name="CMDB_item_type"  class="form-control">{{post.CMDB_item_type}}</textarea>
                            </td>
                        </tr>
						<tr>
                            <th>User name</th>
                            <td>
                                <textarea name="User_name"  class="form-control">{{post.User_name}}</textarea>
                            </td>
                        </tr>
						<tr>
                            <th>Serial No</th>
                            <td>
                                <textarea name="Email_address"  class="form-control">{{post.Email_address}}</textarea>
                            </td>
                        </tr>
						<tr>
                            <th>Organisation</th>
                            <td>
                                <textarea name="Organisation"  class="form-control">{{post.Organisation}}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>